#navigation {
	background-color:red;
	width:900px;
	height:30px;
}

#main {
	background-color:blue;
	height:500px;
	width:600px;
	margin: 200px auto 50px auto;
}

#footer {
	background-color:green;
	bottom:-30px;
}


li {display:inline;}

li img {
	height:auto;
	width:30px;
}
ul {
	list-style:none;
	margin:0;
	padding:0;
	font-family:Arial;
	font-size:14px;
}

/***********************************************************
 * Specific section
 *
 * Does specific styles for elements.
 *
 */

#share {
	background-color:#E3E3E3;
	padding:5px	10px;
}
#share:hover {
	background-color: #C9C9C9;
}

#search_bar {
	border:1px solid black;
}

#person {
	border-radius:15px;
}